@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Lusitana');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');
        .borderBox{
            border: solid;
            border-width: 1px;
            border-color:black;
            border-radius: 1px;
            border-style: solid
        }
        .borderBoxAdmin{
            border: solid;
            border-width: 5px;
            border-color:coral;
            border-radius: 5px;
        }
        .botBorder {
            border-bottom: 2px cornflowerblue solid;
            width: 100%;
        }
        .botBorderBlog {
            border-bottom: 2px cornflowerblue solid;
            width: 90%;
        }
        .botBorderAbout {
            border-bottom: 2px cornflowerblue solid;
            width: 80%;
        }
        .dotBorder {
            border-style: dotted;
            border-width: 2px;
            border-radius: 2px;
            border-color: coral
        }
        .inconsolataFont {
            font-family: 'Inconsolata', san-serif;
        }
        .inconsolataFontCart {
            font-family: 'Inconsolata', san-serif;
            font-size: 16px;
        }
        .titleBarFontFam {
            font-family: 'Libre Baskerville', serif;
        }
        .lusFont {
            font-family: 'Lusitana', serif;
        }
        .bitFont {
            font-family: 'Bitter', serif;
        }
        .genFont {
            font-family: 'Gentium Basic', serif;
        }
        .lightMarg {
            margin: 5%;
        }
        .tinyMarg {
            margin: 2%;
        }
        .microMarg {
            margin: 1%;
        }
        .fixedSetting {
            position: fixed;
            width: 25%;
        }
        .biggerFont {
            font-size: 16px;
        }
        .evenBiggerFont {
            font-size: 18px;
        }
        .titleBarFont {
            font-size: 1.5vw;
        }
        .bigAssFont {
            font-size: 28px;
        }
        .orFont {
            font-size: 35px;
            font-style: italic;
        }
        .ital {
            font-style: italic;
        }
        .noWrap {
            white-space: nowrap
        }
        .centerVert {
            align-items: center;
        }
        .centerHort {
            justify-content: center;
        }
        .vertical-center {
          min-height: 70vh; /* These two lines are counted as one :-)       */
          min-width: 10vh;

          display: flex;
          align-items: center;
        }
        .vertical-center-blog {
            min-height: 50vh; /* These two lines are counted as one :-)       */
            min-width: 50vh;
  
            display: flex;
            align-items: center;
        }
        .scaleDown {
            height: 100%;
            width: 100%;
        }
        .centerContent {
            justify-content: center;
        }
        .tinyPad {
            padding: 100px;
        }
        .tinyPadRight {
            padding-left: 100px;
        }
        a.titleLink:link {
            color: black;
            text-decoration: none;
        }
        a.titleLink:visited {
            color: black;
            text-decoration: none;
        }
        a.titleLink:hover {
            color:;
            text-decoration: none;
        }
        a.titleLink:active {
            color: black;
            text-decoration: none;
        }
        .coralColor {
            color: crimson;
        }
        .boldQuality {
            font-weight: bold;
        }
        .nameProperties {
            font-size: 30px;
            margin-top: 3%;
            font-weight: bold;
        }
        .blogTitleProperties {
            font-size: 32px;
            margin-top: 3%;
            font-weight: bold;
        }
        .selfPic {
            max-width: 70%;
            border-radius: 10px;
            border: 1px solid #c3c3c3;
        }
        .shadowBox {
            box-shadow: 0 2px 3px 0 rgba(0,0,0,.31);
        }
        .topPad {
            padding-top: 30px;
        }
        .blogPostFont {
            font-size: 18px;
        }
        .titleColor {
            color: cornflowerblue
        }
        .topBorder {
            border-top: 1px solid #000
        }
        .footerPad {
            padding-top: 10px
        }
        body {
            background-color:#d6ffee !important
        }
